<!DOCTYPE html>
<html lang="en" ng-app="setupApp" ng-controller="mainController">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style type="text/css"></style>
</head>
<body>
  <script src="js/angular.min.js"></script>
  <script src="js/socket.io.js"></script>
  <script type="text/javascript">
    angular.module('setupApp', []).controller('mainController', function ($scope) {
      var socket = io.connect();
      socket.on('setupStatus', function (success) {
        $scope.$apply(function () {
          $scope.error = !success;
        });
      });

      $scope.data = {};
      $scope.save = function () {
        socket.emit('setupSave', $scope.data);
      };

      socket.emit('setupEnter');
    });
  </script>
  <div class="container-fluid">
    <h2>Connected to Screen</h2>
    <form ng-submit="save()">
      <div class="form-group">
        <input type="text" class="form-control" required ng-model="data.pin" placeholder="PIN code">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" required ng-model="data.name" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" required ng-model="data.location" placeholder="Location">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
    </form>
    <span ng-show="error">An error occurred, please check your PIN!</span>
  </div>
</body>
</html>