html * {
    font-family: 'Lato';
}

html, body {
    height: 100%;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#main {
    min-height: 100vh;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dotted #bed2db;
}

.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.collection {
    margin: 0;
    cursor: pointer;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
}

.collection:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5em;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient(50% 0%, 50% 100%, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
    background-image: -webkit-radial-gradient(50% 0%, 50% 100%, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
    background-image: radial-gradient(50% 100% at 50% 0%, #cccccc 0%, rgba(204, 204, 204, 0) 100%);
}

.collection:last-child:after {
    content: none;
}

.collection:hover {
    background-color: rgb(246, 249, 253);
}

.collection .container {
    padding-top: 5em;
    padding-bottom: 5em;
}

.collection h1 {
    margin-top: 0;
}

.collection .collection-art {
    padding: 0;
}

.img-slice-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    background: #2C3E50;
    border: 4px solid #2C3E50;
}

.img-slice-container .diagonal {
    height: 100%;
    overflow: hidden;
}

.img-slice-container .collection-art-inner {
    height: 100%;
    position:relative;
    float: right;
    right: 50%;
}

.img-slice-container .diagonal img {
    height: 100%;
    position: relative;
    right: -50%;
}


/* Clouds */
#clouds {
    display: block;
}
#clouds path {
    fill: #ecf0f1;
    stroke: #ecf0f1;
}

.clouds {
    background: #ecf0f1;
}
.clouds h3 {
    margin: 0;
    padding: 1em 0 2em;
    color: #333;
}

/* ANIMATIONS for left and right
============================================================================= */
.view-animate-container {
    position: relative;
    height: auto; 
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
}

.right .view-animate.ng-enter {
    -webkit-transform: translate3d(150%, 0, 0);
    -moz-transform: translate3d(150%, 0, 0);
    -ms-transform: translate3d(150%, 0, 0);
    -o-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0); 
}

.right .view-animate.ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.right .view-animate.ng-leave.ng-leave-active {
    -webkit-transform: translate3d(-150%, 0, 0);
    -moz-transform: translate3d(-150%, 0, 0);
    -ms-transform: translate3d(-150%, 0, 0);
    -o-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0); 
}

.left .view-animate.ng-enter {
    -webkit-transform: translate3d(-150%, 0, 0);
    -moz-transform: translate3d(-150%, 0, 0);
    -ms-transform: translate3d(-150%, 0, 0);
    -o-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0); 
}

.left .view-animate.ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
}

.left .view-animate.ng-leave.ng-leave-active {
    -webkit-transform: translate3d(150%, 0, 0);
    -moz-transform: translate3d(150%, 0, 0);
    -ms-transform: translate3d(150%, 0, 0);
    -o-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0); 
}