<div class="row collection" ng-repeat="collection in collections" ng-click="toggleCollection(collection.id)" ng-class="{'active': activeCollection == collection.id}">
	<div class="container">
		<div class="col-sm-8" ng-class-even="'collection-art-right'">
			<div class="row img-slice-container">
				<div ng-repeat="art in collection.art" class="col-xs-6 col-sm-4 collection-art diagonal">
				<div class="collection-art-inner">
						<img class="" ng-src="{{art.url}}">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="collection-info" ng-class-odd="'collection-text-right'">
				<h1>{{collection.name}}</h1>
				<p>{{collection.description}}</p>
			</div>
		</div>
	</div>
</div>
